
.home {
	text-align: center;
	margin: auto;
	padding: 30px;
}

.main {
	text-align: center;
	margin: auto;
}

.main h2 {
	padding-top: 20px
}

.box-img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.profile {
	text-align: center;
	margin: auto;
	table-layout: auto;
	padding: 30px;
}

.profile ul {
	width: 450px;
	padding: 40px;
	text-align: center;
	align-content: center;
}
